/* GLOBAL */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,body {
    font-family: 'Work Sans', sans-serif;
}

.section {
    padding: 5rem 0;
}

.heading {
    text-align: center;
}

.heading h2 {
    font-size: 40px;
    font-weight: bold;
    color: #FE4E7F;
    letter-spacing: 0.5px;
}

.heading p {
    letter-spacing: 4px;
    font-size: 17px;
    color: black;
}

.heading p::after {
    content: '';
    display: block;
    width: 70px;
    height: 2px;
    background-color: black;
    margin: 20px auto;
}

.heading--white p {
    color: white;

}

/* HEADER */
header {

}

.header__top {
    padding: 10px;
    background-color : #FE4E7F
}

.header__top a {
    text-decoration: none;
    transition: all .5s;
}

.header__top a:hover {
    color: #00a98f !important;
}

.header__top--right i {
    color: white;
    width: 30px;
    height: 30px;
    line-height: 30px;
    background-color: black;
    text-align: center;
    margin: 0 3px;
}

.navInstruction a {
    color: black;
}

.navInstruction .navbar-brand p:first-child {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 0;
}

.navInstruction .navbar-brand p:first-child i {
    transform: skewX(-10deg);
}

.navInstruction .navbar-brand p:last-child {
    letter-spacing: 3px;
    color: #FE4E7F;
    font-size: 11px;
    font-weight: bold;
}

.navInstruction .navbar-nav {
    margin-left: auto;
}

#navbarInstruction .nav-link {
    font-weight: bold;
}

#navbarInstruction .nav-item {
    margin: 0 15px;
}

#navbarInstruction .nav-item:hover > a {
    color: #FE4E7F;
    transition: all .5s;
}

#navbarInstruction .dropdown-item {
    background-color: transparent;
    transition: all .5s;
}

#navbarInstruction .dropdown-item:hover {
    color: #FE4E7F;
}

#navbarInstruction .nav-item::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background-color: #FE4E7F;
    transition: all .5s;
}

#navbarInstruction .nav-item:hover::after {
    width: 100%;
}

#navbarInstruction .nav-item.active a {
    color: #FE4E7F;
}

#navbarInstruction .nav-item.active::after {
    width: 100%;
}

.navInstruction .navbar-toggler {
    border-radius: 0;
}

/* CAROUSEL */

#carouselCyber .carousel-caption h1 {
    font-size: 51px;
}

#carouselCyber .carousel-caption p {
    letter-spacing: 4px;
    font-weight: 300;
    width: 70%;
    margin: 0 auto;
    margin-bottom: 25px;
}

#carouselCyber .carousel-caption button {
    color: white;
    border: 1px solid white;
    letter-spacing: 2px;
    padding: 11px 20px;
    transition: all .5s;
    line-height: 1.8em;
}

#carouselCyber .carousel-caption button:hover {
    background-color: #FE4E7F;
}

#carouselCyber .carousel-caption {
    top: 55%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.carousel-control-next, .carousel-control-prev {
    z-index: 11;
}

/* WELCOME */
.welcome__content > p {
    color: #333;
    text-align: center;
    width: 80%;
    margin: 0 auto;
}

.welcome__course {
    margin-top: 5rem;
}

.welcome__item i {
    font-size: 2rem;
}

.welcome__item h3 {
    color: #FE4E7F;
    margin: 20px 0;
    font-size: 1.8rem;
    font-weight: bold;
}

.welcome__item h4 {
    font-size: 1rem;
    font-weight: bold;
    margin: 1rem 0 0.2rem;
    color: black;
}

.welcome__item p {
    color: #999;
    font-size: 15px;
    line-height: 1.8em;
    letter-spacing: 1px;
    margin: 10px 0;
}

.welcome__padding {
    padding: 2rem;
}

/* OUR STATS */
.ourStats {
    background-image: url(../img/banner2.jpg);
    background-attachment: fixed;
    background-size: cover;
}

.ourStats__content {
    text-align: center;
    color: white;
    margin-top: 50px;
}

.ourStats__item i {
    font-size: 2.5rem;
}

.ourStats__item h3 {
    color: #FE4E7F;
    font-size: 1.3rem;
    font-weight: bold;
    letter-spacing: 3px;
    margin: 20px 0 20px;
}

.ourStats__item p {
    font-size: 3rem;
    font-weight: 300;
}

/* OFFER */
.offer__content {
    text-align: center;
}

.offer__padding {
    padding: 15px;
}

.offer__item {
    box-shadow: 0 0 8px 0 rgba(155, 155, 155, 1);
    padding: 25px 40px;
    transition: all .5s ;
}

.offer__item i {
    font-size: 2.5rem;
    color: #FE4E7F;
}

.offer__item h3 {
    font-size: 1.25rem;
    color: black;
    margin: 25px 0 20px;
}

.offer__item p {
    font-size: 0.875rem;
    color: #6b6b6b;
    letter-spacing: .5px;
}

.offer__item:hover {
    background-color: #12ccc3;
}

/* FEEDBACK */
.feedback {
    background-image: url(../img/banner3.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.feedback__content {
    box-shadow: 0 1px 7px #8e8e8e;
    background-color: rgba(0, 0, 0, 0.47);
    padding: 1rem;
    color: white;
}

.feedback__content .item {
    margin: 1rem;
}

.feedback__top {
    background-color: rgba(0, 0, 0, 0.47);
    padding: 1rem 1.5rem;
    position: relative;
}

.item p {
    margin: 0;
}

.feedback__top p {
    font-size: 0.9rem;
    letter-spacing: 1px ;
}

.feedback__top::after {
    content: '';
    border-top: 9px solid rgba(0, 0, 0, 0.47);
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    position:absolute;
    top: 100%;
    left:32%;
}

.feedback__bottom {
    width: 55%;
    margin: 2rem auto 0;
    display: flex;
    justify-content: center;
}

.item .feedback__bottom img {
    width: 28%;
    display: inline-block;
}

.item .feedback__name {
    padding-left: 5px;
}

.feedback__name p:first-child {
    font-size: 1.1rem;
    font-weight: bold;
} 

.feedback__name p:last-child {
    color: #FE4E7F;
    font-size: 0.9rem;
} 

.feedback__content .owl-theme .owl-dots .owl-dot {
    outline: none;
}

.feedback__content .owl-theme .owl-dots .owl-dot span {
    color: #FE4E7F;
    opacity: 0.4;
}

.feedback__content .owl-theme .owl-dots .owl-dot.active span, 
.feedback__content .owl-theme .owl-dots .owl-dot:hover span {
    opacity: 1;
}

/* NEWS */

.news__content h3 {
    line-height: 1.4rem;
}
.news__content a {
    text-decoration: none;
    color: black;
    font-size: 1.4rem;
    font-weight: bold;
    transition: all .5s;
}

.news__content a:hover {
    color: #FE4E7F;
}

.news__content h4 {
    font-size: 1rem;
    font-weight: bold;
    margin: 1rem 0;
    color: #FE4E7F;
    letter-spacing: 2px;
}

.news__content p {
    font-size: .9rem;
    color: #999999;
    line-height: 1.8rem;
}

.news__content .row:last-child {
    margin-top: 5rem;
}

/* MODAL */
#cyberModal .modal-dialog {
    max-width: 600px;
}

#cyberModal h5 {
    color: #FE4E7F;
    font-size: 29px;
    font-weight: bold;
}

#cyberModal .modal-body p {
    font-size: 14px;
    color: #777;
    line-height: 1.8em;
    padding: 20px 0;
    margin: 0;
}

/* FOOTER */
footer {
    background-color: #141415;
    padding-top: 70px;
}

.footer__info h2 {
    color: #FE4E7F;
    font-size: 24px;
    font-weight: bold;
    color: #FE4E7F;
    letter-spacing: 1px;
    margin-bottom: 1.5rem;
}

.footer__info p {
    font-size: 15px;
    color: #8b8b96;
    line-height: 2em;
    margin-bottom: 2rem;
    letter-spacing: 1px;
}

.footer__news, .footer__contact { 
    margin-bottom: 1rem;
}

.footer__news i {
    color: #FE4E7F;
    margin-right: 1rem;
}

.footer__news a, .footer__contact a {
    color: #8b8b96;
    text-decoration: none;
    font-size: 15px;
    line-height: 1.5em;
    letter-spacing: 1px;
}

.footer__contact i {
    width: 32px;
    height: 32px;
    border: 1px solid #4b4b50;
    color: white;
    text-align: center;
    line-height: 32px;
    margin-right: 1rem;
}

.footer__form {
    padding: 30px;
}

.footer__form label {
    color: #FE4E7F;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 1px;
}

.footer__form input {
    padding: 14px;
    border-radius: 0;
    border: none;
    letter-spacing: 1px;
    color: #888;
    height: auto;
}

.footer__form button {
    background-color: #FE4E7F;
    padding: 12px 35px;
    letter-spacing: 1px;
    border-radius: 0;
}

.footer__bottom {
    background-color: black;
    color: white;
}

.footer__bottom p {
    margin: 0;
    padding: 20px 0;
    text-align: center  ;
}

.footer__bottom p a {
    color: #FE4E7F;
    transition: all .5s;
    text-decoration: none;
}

.footer__bottom p a:hover {
    color: white;
}


/*************** RESPONSIVE *******************/
@media screen and (max-width:1199.98px) {
    #carouselCyber .carousel-caption {
        top: 50%;
    }

    #carouselCyber .carousel-caption h1 {
        font-size: 4vw;
    }

    #carouselCyber .carousel-caption p {
        font-size: 1.9vw;
        margin-bottom: 0.5em;
        letter-spacing: 1px;
    }

    #carouselCyber .carousel-caption button {
        font-size: 1.5vw;
        padding: 0.8em 1em;
    }


}

@media screen and (max-width: 991.98px) {
    .navInstruction .navbar-brand p:first-child {
        font-size: 3vw;
    }

    .navInstruction .navbar-brand p:last-child {
        font-size: 1.5vw;
    }


}

@media screen and (max-width:  767.98px){
    #navbarInstruction .navbar-nav {
        text-align: center;
        background-color: #eee;
    }

    #navbarInstruction .navbar-nav .dropdown-menu {
        text-align: center;
        background-color: #e0e1e2;
    }

    
    .news__content .row:last-child {
        flex-direction: column-reverse;
        margin-top: 2rem;
    }

}

@media screen and (max-width: 575.98px) {
    .header__top--left a {
        display: block;
    }

    .heading p {
        padding: 0 15px;
    }

    /* FOOTER */
    .footer__form {
        padding: 0;
    }
    .footer__form input, .footer__form button {
        padding: 10px;
        border:0;
        font-size: 0.875rem;
    }
}

@media screen and (max-width: 414px) {
    #carouselCyber {
        height: 250px;
    }

    #carouselCyber .carousel-inner, #carouselCyber .carousel-item, #carouselCyber .carousel-item img {
        height: 100%;
    }

    #carouselCyber .carousel-item img {
        object-fit: cover;
    }

    .ourStats__item h3 {
        font-size: 4vw;
    }
}

@media screen and (max-width: 373px){
    .header__top--right {
        width: 30%;
    }

    .header__top--right i {
        margin-bottom: 5px;
    }

    .ourStats__item h3 {
        font-size: 3vw;
    }
    .feedback__bottom {
        width: 85%;
    }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    #navbarInstruction .nav-item {
        margin: 0;
        padding: 5px;
    }

    #navbarInstruction .nav-item a {
        font-size: 12px;
    }
}

@media screen and (min-width: 576px) and (max-width:992px) {
    .feedback__bottom {
        width: 85%;
    }
}


